node_modules/
dist/
*.tsbuildinfo

#Test
playwright-report/
test-results/
coverage/

#OS
.DS_Store
.obsidian/

#Database
*.db
*.db-wal
*.db-shm
data/

#Temp
temp/
tmp/
*.tmp
*.temp

#Log
logs/
.log/
*.log

#IDE
.vscode/
.idea/
.cursor/
.cursorrules/

.firecrawl/
docs/plans/

# Personal files
# docs/_ngan/
# docs/doc-reader/
docs/_lia/